<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javacode2018.chat05.demo7.mapper.UserMapper">

    <select id="getById" resultType="com.javacode2018.chat05.demo7.model.UserModel">
        <![CDATA[
        SELECT id,name FROM t_user where id = #{value}
        ]]>
    </select>
</mapper>