<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javacode2018.chat05.demo4.mapper.OrderDetailMapper">

    <resultMap id="orderDetailModelMap" type="com.javacode2018.chat05.demo4.model.OrderDetailModel">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="goods_id" property="goodsId" />
        <result column="num" property="num" />
        <result column="total_price" property="totalPrice" />
        <association property="goodsModel" select="com.javacode2018.chat05.demo4.mapper.GoodsMapper.getListByOrderId1" column="id" />
    </resultMap>
    <select id="getListByOrderId1" resultMap="orderDetailModelMap" parameterType="int">
        <![CDATA[
        SELECT
            a.id,
            a.order_id,
            a.goods_id,
            a.num,
            a.total_price
        FROM
            t_order_detail a
        WHERE
            a.order_id = #{value}
        ]]>
    </select>
</mapper>